body {
  margin: 0;
  padding: 40px 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #dfe9f3 0%, #ffffff 100%);

}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
label{
  font-weight: 600;
}

.booking-card {
  width: 600px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
  padding: 35px;

}

.card-header {
  text-align: center;
  margin-bottom: 25px;
}

.card-header h2 {
  color: #007bff;
  font-weight: 700;
}

.card-header p {
  color: #666;
  margin-top: 5px;
  font-size: 15px;
}

.form-control {
  border-radius: 10px;
  border: 1.5px solid #ccc;
  transition: all 0.3s ease;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0,123,255,0.3);
}

.btn-book {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px;
  letter-spacing: 0.5px;
  transition: 0.3s;
}

.btn-book:hover {
  background-color: #0056b3;
  transform: scale(1.03);
}

.image-upload-area {
  border: 2px dashed #ccc;
  border-radius: 12px;
  text-align: center;
  padding: 20px;
  transition: border-color 0.3s, background-color 0.3s;
}

.image-upload-area:hover {
  border-color: #007bff;
  background-color: #f8faff;
}

